@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  /**/

  ViewBag.Title = "Pagina's - Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Beheer pagina's</h1>

<div class="toolbar-top">
  <a href="/admin/newpage" class="btn btn-info new-button js-new-page">Nieuwe pagina</a>
</div>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek pagina" value="@Request.QueryString["q"]" />
</form>

<p>@Model.Total pagina's</p>

@Html.Partial("Pagination")

<div class="list-item list-item-header">
  <div class="title">
    @if (Request["sort"] == "title" && Request["sortDesc"] != "false")
    {
      <a href="?sort=title&sortDesc=false">Titel</a>
      <span class="oi oi-arrow-circle-bottom"></span>
    }
    else
    {
      <a href="?sort=title">Titel</a>
      if (Request["sort"] == "title")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }
    }
  </div>
  <div class="url">Url</div>
  <div class="lastmod">
    @if (Request["sort"] == "date" && Request["sortDesc"] != "false")
    {
      <span class="oi oi-arrow-circle-bottom"></span>
      <a href="?sort=date&sortDesc=false">Laatst aangepast</a>
    }
    else
    {
      if (Request["sort"] == "date")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }

      <a href="?sort=date">Laatst aangepast</a>
    }

  </div>
</div>

@foreach (SearchResult page in Model.Results)
{
  <div class="list-item">
    <div class="title"><a class="link-to-edit" href="/admin/editpage/@page.Id">@page.Title</a></div>
    <div class="url"><a href="@page.Url">@page.Url</a></div>
    <div class="lastmod">@page.LastModified.ToString("dd MMM yyy hh:mm")</div>
  </div>
}

@Html.Partial("Pagination")

<a href="/admin/newpage" class="btn btn-info new-button js-new-page">Nieuwe pagina</a>