@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  /**/

  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Beheer pagina's</h1>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek pagina" value="@Request.QueryString["q"]" />
</form>

<p>@Model.Total pagina's</p>

@Html.Partial("Pagination")

<div class="list-item list-item-header">
  <div class="title">Titel</div>
  <div class="url">Url</div>
</div>

@foreach (SearchResult page in Model.Results)
{
  <div class="list-item">
    <div class="title"><a class="link-to-edit" href="/admin/editpage/@page.Id">@page.Title</a></div>
    <a href="@page.Url" class="url">@page.Url</a>
  </div>
}

<a href="/admin/newpage" class="btn btn-info new-button js-new-page">Nieuwe pagina</a>