@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Beheer reacties</h1>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek reactie" value="@Request.QueryString["q"]" />
</form>

@{
  var archiveClassName = "";
  if (Request.QueryString["archived"] == "true")
  {
    archiveClassName = "active";
  }
}
<div class="archive-tab @archiveClassName">
  <a class="inbox-button archive-toggle btn btn-info" href="/admin/reactions"><span class="oi oi-box"></span> Inbox</a>
  <a class="archive-button archive-toggle btn btn-secondary" href="?archived=true"><span class="oi oi-box"></span> Archief</a>
</div>

<p>@Model.Results.Count() reacties</p>

@Html.Partial("Pagination")
<div class="list-item list-item-header">
  <div class="date">Datum</div>
  <div class="place">Gemeente</div>
  <div class="sender">Gebruiker</div>
</div>

@foreach (var reactie in Model.Results)
{
  var reactionModel = (ReactionModel)reactie.Model;
  string className = "unapproved";
  if (reactionModel.Approved.HasValue)
  {
    className = "approved";
  }
  <div class="list-item @className">
    <div class="date"><a class="link-to-edit" href="/admin/editreaction/@reactionModel.Id">@reactionModel.Created.ToString("f")</a></div>
    <div class="place"><a class="link-to-edit" href="/admin/editreaction/@reactionModel.Id">@reactionModel.GemeenteNaam</a></div>
    <div class="sender">@reactionModel.Sender</div>
  </div>
}

@Html.Partial("Pagination")
