@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  ViewBag.Title = "Reacties - Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Beheer reacties</h1>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek reactie" value="@Request.QueryString["q"]" />
</form>

@{
  var archiveClassName = "";
  if (Request.QueryString["archived"] == "true")
  {
    archiveClassName = "active";
  }
}
<div class="archive-tab @archiveClassName">
  <a class="inbox-button archive-toggle btn btn-info" href="/admin/reactions?q=@Request["q"]"><span class="oi oi-box"></span> Inbox (@ViewBag.InboxTotal)</a>
  <a class="archive-button archive-toggle btn btn-secondary" href="?archived=true&q=@Request["q"]"><span class="oi oi-box"></span> Archief (@ViewBag.ArchivedTotal)</a>
</div>

<div class="list-item list-item-header">
  <div class="hasAlert">
    @if (Request["sort"] == "hasplaatsen" && Request["sortDesc"] != "false")
    {
      <a href="?sort=hasplaatsen&sortDesc=false">Alert</a>
      <span class="oi oi-arrow-circle-bottom"></span>
    }
    else
    {
      <a href="?sort=hasplaatsen">Alert</a>
      if (Request["sort"] == "hasplaatsen")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }
    }
  </div>
  <div class="title">
    @if (Request["sort"] == "title" && Request["sortDesc"] != "false")
    {
      <a href="?sort=title&sortDesc=false">Gemeente</a>
      <span class="oi oi-arrow-circle-bottom"></span>
    }
    else
    {
      <a href="?sort=title">Gemeente</a>
      if (Request["sort"] == "title")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }
    }
  </div>
  <div class="url">Naam</div>
  <div class="lastmod">
    @if (Request["sort"] == "date" && Request["sortDesc"] != "false")
    {
      <span class="oi oi-arrow-circle-bottom"></span>
      <a href="?sort=date&sortDesc=false">Datum melding</a>
    }
    else
    {
      if (Request["sort"] == "date")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }

      <a href="?sort=date">Datum melding</a>
    }

  </div>
</div>

@foreach (var reactie in Model.Results)
{
  var reactionModel = (ReactionModel)reactie.Model;
  string className = "unapproved";
  if (reactionModel.Approved.HasValue)
  {
    className = "approved";
  }

  <div class="list-item ">
    <div class="hasAlert @className">&#160;</div>
    <div class="title"><a class="link-to-edit" href="/admin/editreaction/@reactionModel.Id">@reactionModel.GemeenteNaam</a></div>
    <div class="url">@reactionModel.Sender &#160;</div>
    <div class="lastmod"><a class="link-to-edit" href="/admin/editreaction/@reactionModel.Id">@reactionModel.Created.ToString("dd MMM yyy hh:mm")</a></div>
  </div>
}

@Html.Partial("Pagination")
