@model Meldpunt.Models.PlaatsPageModel

<h1 class="plaatsheader"><span class="pre-header">Ongediertebestrijding</span> @Model.Title</h1>
<p>
  @Model.Title valt onder ons servicegebied voor ongediertebestrijding. Wij bestrijden alle soorten
  ongedierte die gevaarlijk zijn voor de omgeving of het welzijn van bewoners en bezoekers. Denk
  hierbij vooral aan muizenbestrijding, rattenbestrijding en het bestrijden of verwijderen van een
  wespennest. Verder bestrijden wij ook incidenteel mieren, kakkerlakken en vliegen.
  Melding doen en afspraak maken
</p>

<p>
  @Model.Title maakt onderdeel uit van een groter werkgebied. Onze ongediertebestrijder verzorgt zelf
  de planning. U kunt daarom het beste zelf een afspraak met hem maken. Klik hier voor de juiste
  contactgegevens.
</p>

<h2>Planning</h2>
<p>
  Onze ongediertebestrijder is meerdere dagdelen per week actief in @Model.Title. Wanneer u melding
  doet of een afspraak wilt maken, dan bent u meestal binnen één tot drie werkdagen geholpen.
</p>

<h2>Belangrijk om te weten</h2>
<p>
  Het is voor ons belangrijk dat @Model.Title zoveel mogelijk vrij blijft van ongedierte. Er moet
  desondanks goed onderscheid gemaakt worden tussen plaagdieren en dieren waar wij juist zuinig op
  moeten zijn. Het is aan onze bestrijdingsdienst om op verantwoorde wijze te beoordelen of
  bestrijding nuttig en noodzakelijk is.
</p>

<h2>Wat doen wij met een wespennest in @Model.Title?</h2>
<p>
  Als u last heeft van een wespennest in huis of in de tuin, dan is aan u de keuze of u het laat zitten of
  dat u het gaat (laten) bestrijden. Zelf een wespennest bestrijden of verwijderen brengt grote risico’s
  met zich mee. Dit raden wij daarom af. Inwoners van @Model.Title kunnen het wespennest
  daarom het beste door ons laten bestrijden. De kosten zijn beperkt en u weet dan zeker dat het vakkundig en 
  veilig uitgevoerd wordt. Een wespennest kan pas verwijderd worden als wij de bestrijding hebben
  uitgevoerd.
</p>