@using Meldpunt.Models;
@using Meldpunt.Utils;
@model PlaatsModel
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Gemeente @Model.Gemeentenaam</h1>

 @if (Model.Plaatsen.Count > 1)
 {
  <p>Onder de gemeente @Model.Gemeentenaam vallen de plaatsen: @String.Join(", ", Model.Plaatsen.Select(p => p.Capitalize()))</p>
 }


<form method="post">   
  <label for="publish">
    <input type="checkbox" name="publish" @if(Model.Published){<text>checked="checked"</text>}/> gepubliceerd
  </label>
  <textarea name="content">
    @Model.Content
  </textarea>
  <input type="submit" value="opslaan" />
</form>

@section menu{
<div class="menu">  
 @* <ul>
    @foreach (PageModel item in Model)
    {
      <li ><a href="@item.Url">@item.Title</a>
        @if (item.SubPages.Any())
        {
          Html.RenderPartial("subPagesPartial", item);        
        }
      </li>
    }
  </ul>*@

  <h2>Gemeenten</h2>
  <ul>
    @foreach(var kv in locations){     
        
       <li>
       <a href="/admin/editplaats/@kv.Key">@kv.Key</a>
       <div class="subNav">
        @String.Join(", ", kv.Value)
       </div>
       </li>
    }
  </ul>

</div>
}
