@using Meldpunt.Models;
@using Meldpunt.Utils;
@model PlaatsModel
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Gemeente @Model.Gemeentenaam</h1>

<a class="viewPage btn btn-info" href="/@Model.Gemeentenaam" target="_blank">Pagina bekijken</a>

@if (Model.Plaatsen.Count > 1)
{
  <p>Onder de gemeente @Model.Gemeentenaam vallen de plaatsen: @String.Join(", ", Model.Plaatsen.Select(p => p.Capitalize()))</p>
}


  <form method="post">

    <div class="field">
      <label for="publish">
        @Html.CheckBoxFor(p => p.Published)
        gepubliceerd
      </label>
    </div>

    <div class="field">
      <label for="MetaDescription">Meta description</label>
      <textarea id="MetaDescription" class="form-control" name="MetaDescription" type="text">@Model.MetaDescription</textarea>
    </div>

    <div class="field">
      <label for="MetaDescription">Title</label>
      <input type="text" name="title" class="form-control" value="@Model.Title" />
    </div>

    <div class="field">
      <label for="MetaDescription">Telefoonnummer</label>
      <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
    </div>


    <div class="field">
      <label for="content">Content</label>
      <textarea id="content" name="content" class="richtext">
      @Model.Content
    </textarea>
    </div>

    <div class="field">
      Voor het laatst aangepast: <b>@Model.LastModified.ToString("R")</b>
    </div>

    <input type="hidden" name="Gemeentenaam" value="@Model.Gemeentenaam" />
    <input type="submit" value="opslaan" />
  </form>

@section menu{
  <div class="menu">
    <h2>Gemeenten</h2>
    <ul>
      @foreach (var kv in locations)
      {
        string url = ((string)kv.Key).XmlSafe();
        <li>
          <a href="/admin/editplaats/@url">@kv.Key</a>
        </li>
      }
    </ul>
  </div>
}