@using Meldpunt.Models;
@using Meldpunt.Utils;
@model PageModel
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>@Model.Title</h1>

<div class="actions">
  <button onclick="$('#opslaan').click()" class="btn btn-info">Opslaan</button>
  <a class="btn btn-info" href="@Model.Url" target="_blank">Pagina bekijken</a>
</div>


<form method="post">

  <div class="checkboxes">

    <div class="field">
      <label for="publish">
        @Html.CheckBoxFor(p => p.Published)
        gepubliceerd
      </label>
    </div>

    <div class="field">
      <label for="publish">
        @Html.CheckBoxFor(p => p.InTabMenu)
        tonen in top menu
      </label>
    </div>

    <div class="field">
      <label for="publish">
        @Html.CheckBoxFor(p => p.InHomeMenu)
        tonen in hoofd menu
      </label>
    </div>

    <div class="field">
      <label for="Sort">
        <input type="number" name="Sort" class="sort" value="@Model.Sort" />
        sorteer nummer
      </label>
    </div>

  </div>


  @if (Model.LastModified.HasValue)
  {
    <div class="field">
      Voor het laatst aangepast: <b>@Model.LastModified.Value.ToString("R")</b>
    </div>
  }

  <div class="field">
    <label for="MetaDescription">Meta Titel</label>
    <input type="text" name="EditableTitle" class="form-control" value="@Model.Title" />
  </div>

  <div class="field">
    <label for="MetaDescription">Meta description</label>
    <textarea id="MetaDescription" class="form-control" name="MetaDescription" type="text">@Model.MetaDescription</textarea>
  </div>

  <div class="field">
    <label for="UrlPart">Url</label>
    <div class="input-group">
      <div class="input-group-prepend selectParent">
        <span class="input-group-text" id="inputGroupPrepend" onclick="OpenModal()">@Model.ParentPath</span>
      </div>
      <input type="hidden" name="parentId" id="parentId" value="@Model.ParentId" />
      <input type="text" name="UrlPart" class="form-control" value="@(Model.UrlPart ?? Model.Id)" />
    </div>
  </div>

  <div class="field">
    <label for="content">Content</label>
    <textarea id="content" name="content" class="richtext">
			@Model.Content
		</textarea>
  </div>

  <input type="hidden" name="Id" value="@Model.Id" />
  <input type="hidden" name="Guid" value="@Model.Guid" />

  <div class="actions">
    <a href="/admin/newpage?parentid=@Model.Id" class="btn btn-info">Nieuwe pagina</a>
    <input type="submit" id="opslaan" value="opslaan" class="btn btn-info" />
    <a class="btn btn-info" href="@Model.Url" target="_blank">Pagina bekijken</a>
    <a href="/admin/deletepage/@Model.Guid" class="btn btn-danger" data-action-confirm>Verwijderen</a>
  </div>
</form>

@section submenu{
  @if (Model.SubPages.Any())
  {
    <h2>Subpagina's</h2>
    <ul>
      @foreach (PageModel p in Model.SubPages)
      {
        <li>
          <a href="/admin/editpage/@p.Guid">@p.Title</a>
        </li>
      }
    </ul>
  }
}