@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  /**/

  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

@section scripts{
  <link rel="stylesheet" href="/css/admin-images.css?v=@ViewBag.AppVersion">
}
<h1>Beheer afbeeldingen</h1>


@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-warning">
    @Html.ValidationSummary()
  </div>
}


<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek afbeeldingen" value="@Request.QueryString["q"]" />
</form>

<p>@Model.Total afbeeldingen</p>

@{
  int numOfPages = Model.Total / SearchResultModel.PageSize;
  for (int i = 0; i <= numOfPages; i++)
  {
    string className = "btn-secondary";
    int currentPage = -1;
    if (Int32.TryParse(Request.QueryString["page"], out currentPage))
    {
      if (currentPage == i)
      {
        className = "btn-info";
      }
    }
    <a class="btn  @className" href="?q=@Request.QueryString["q"]&page=@i">@(i + 1)</a>
  }
}

<div class="list-item list-item-header">
  <div class="name">Naam</div>
  <div class="url">Url</div>
  <div class="image">Voorbeeld</div>
  <div class="actions"></div>
</div>

@foreach (SearchResult p in Model.Results)
{
  @pageItem(p);
}


@helper pageItem(SearchResult image)
{
  <div class="list-item">
    <div class="name">@image.Title</div>
    <div class="url"><a target="_blank" href="/image?name=@image.Title">/image?name=@image.Title</a></div>
    <div class="image"><a href="/image?name=@image.Title&width=80&height=45"><img src="/image?name=@image.Title&width=80&height=45" /></a></div>
    <div class="actions"><a class="btn btn-danger" data-action-confirm href="/admin/deleteImage?filename=@image.Title">Verwijderen</a></div>
  </div>
}


@section submenu{
  <h2>Upload nieuwe afbeelding</h2>
  <form method="post" class="menu-panel" enctype="multipart/form-data">
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file" name="file" required>
        <label class="custom-file-label" for="file">Uploaden...</label>
      </div>
      <img id="imagePreview" class="imagePreview float-right" src="~/Images/admin/upload_image.png" alt="upload image" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </form>
}