@model PlaatsPageModel
@{
  ViewBag.Title = Model.Gemeentenaam + " - Admin";
  var locations = ViewBag.Locations;
  var templates = ViewBag.Templates as IEnumerable<TextTemplateModel>;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

@if (!String.IsNullOrWhiteSpace(Model.PlaatsNaam))
{
  <h1>@Model.PlaatsNaam - Gemeente @Model.Gemeentenaam</h1>
}
else
{
  <h1>Gemeente @Model.Gemeentenaam</h1>
}

@if (Model.LastModified.HasValue)
{
  <p>Laatst aangepast: @Model.LastModified.Value.ToString("f")</p>
}
<div class="actions">
  <button class="btn btn-info" onclick="$('#sumbitform').click()">Opslaan</button>
  <a class="viewPage btn btn-info" href="@Model.Url" target="_blank">Pagina bekijken</a>
</div>

@if (Model.Plaatsen != null && Model.Plaatsen.Count() > 1)
{
  <div class="field maak-plaats">
    <label>Onder de gemeente @Model.Gemeentenaam vallen de plaatsen:</label><br />
    @foreach (var plaats in Model.Plaatsen)
    {
      <a class="btn btn-primary" href="/admin/AddPlacePage/@Model.Id?plaats=@plaats">@plaats</a>
    }
  </div>
}
else if (String.IsNullOrWhiteSpace(Model.PlaatsNaam))
{
  <p>Deze gemeente bevat geen plaatsen.</p>
}


<form method="post" id="plaatspageform">

  <div class="field">
    <label for="MetaDescription">Meta title</label>
    @Html.EditorFor(m => m.MetaTitle, "", new
    {
      htmlAttributes = new
      {
        @class = "form-control",
        placeholder = "Ongediertebestrijding " + Model.Gemeentenaam + " - Meldpunt Ongedierte"
      }
    })
  </div>

  <div class="field">
    <label for="MetaDescription">Meta description</label>
    <textarea id="MetaDescription" class="form-control" name="MetaDescription" type="text">@Model.MetaDescription</textarea>
  </div>

  <div class="field">
    <label for="Headline">Headline</label>
    @Html.EditorFor(m => m.Headline, new { htmlAttributes = new { maxLength = 110, @class = "form-control" } })
  </div>

  <div class="field">
    <label for="Image">Image</label>
    @Html.EditorFor(m => m.Image, new { htmlAttributes = new { maxLength = 110, @class = "form-control" } })
  </div>

  <div class="field">
    <label for="UrlPart">Url</label>
    <div class="input-group">
      <div class="input-group-prepend selectParent">
        <span class="input-group-text" id="inputGroupPrepend">/ongediertebestrijding-</span>
      </div>
      <input type="text" name="UrlPart" class="form-control" value="@Model.UrlPart" />
    </div>
    @Html.ValidationMessageFor(model => model.UrlPart, "", new { @class = "text-danger" })
  </div>

  <div class="field">
    <label for="MetaDescription">Telefoonnummer</label>
    <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
  </div>

  <div class="field">
    <label for="TemplateId">Template</label>
    <input type="text" name="TemplateId" id="TemplateId" list="templates" class="form-control" value="@Model.TemplateId" />
    <datalist id="templates">
      @foreach (var template in templates)
      {
        <option value="@template.Id">@template.Name</option>
      }
    </datalist>

    @if (Model.TemplateId.HasValue)
    {
      <br/>
      <div class="panel panel-closed">
        <a href="#" class="open-toggle" title="open/close"></a>
        <label>Template voorbeeld</label><br />
        <div class="panel-content">
          <b>Let op!</b> <span>Tekst aannpassingen worden hier niet opgeslagen!</span>
          <textarea class="form-control richtext ">@templates.First(t=> t.Id == Model.TemplateId).Text</textarea>
        </div>
      </div>
    }
  </div>

  @{
    string className = "field panel";
    if (Model.TemplateId.HasValue)
    {
      className += " panel-closed";
    }
  }
  <div class="@className">
    <a href="#" class="open-toggle" title="open/close"></a>
    <label for="content">Content</label>

    <div class="panel-content">
      @if (Model.TemplateId.HasValue)
      {
        <b>Let op!</b><span> Zolang er een template geselecteerd is wordt deze tekst niet gebruikt.</span>
      }
      <textarea id="content" name="content" class="richtext">
      @Model.Content
    </textarea>
    </div>
  </div>



  @Html.HiddenFor(p => p.PlaatsNaam)
  @Html.HiddenFor(p => p.Published)
  @Html.HiddenFor(p => p.PlaatsenAsString)
  @Html.HiddenFor(p => p.Id)
  @Html.HiddenFor(p => p.Gemeentenaam)
  <input id="sumbitform" type="submit" class="btn btn-info" value="opslaan" />

  <a href="/admin/deleteplaats/@Model.Id" class="btn btn-danger" data-action-confirm>Verwijderen</a>
</form>
