@model SearchResultModel
@{
  ViewBag.Title = "Plaats pagina's - Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Beheer plaatsen</h1>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek plaats" value="@Request.QueryString["q"]" />
</form>

@{
  var archiveClassName = "";
  if (Request.QueryString["showplaatsen"] == "true")
  {
    archiveClassName = "active";
  }
}

<div class="archive-tab @archiveClassName">
  <a class="inbox-button archive-toggle btn btn-info" href="?q=@Request["q"]"><span class="oi oi-inbox"></span> Gemeentes (@ViewBag.GemeenteTotal)</a>
  <a class="archive-button archive-toggle btn btn-secondary" href="?showplaatsen=true&q=@Request["q"]"><span class="oi oi-box"></span> Plaatsen (@ViewBag.PlaatsenTotal)</a>
</div>

<p>@Model.Total gevonden</p>

@Html.Partial("Pagination")

<div class="list-item list-item-header">
  <div class="hasplaatsen">
    @if (Request["sort"] == "hasplaatsen" && Request["sortDesc"] != "false")
    {
      <a href="?sort=hasplaatsen&sortDesc=false">Alert</a>
      <span class="oi oi-arrow-circle-bottom"></span>
    }
    else
    {
      <a href="?sort=hasplaatsen&sortDesc=true">Alert</a>
      if (Request["sort"] == "hasplaatsen")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }
    }
  </div>
  <div class="title">
    @if (Request["sort"] == "title" && Request["sortDesc"] != "false")
    {
      <a href="?sort=title&sortDesc=false">Gemeente</a>
      <span class="oi oi-arrow-circle-bottom"></span>
    }
    else
    {
      <a href="?sort=title&sortDesc=true">Gemeente</a>
      if (Request["sort"] == "title")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }
    }
  </div>
  <div class="url">Url</div>
  <div class="lastmod">
    @if (Request["sort"] == "date" && Request["sortDesc"] != "false")
    {
      <span class="oi oi-arrow-circle-bottom"></span>
      <a href="?sort=date&sortDesc=false">Laatst aangepast</a>
    }
    else
    {
      if (Request["sort"] == "date")
      {
        <span class="oi oi-arrow-circle-top"></span>
      }

      <a href="?sort=date&sortDesc=true">Laatst aangepast</a>
    }

  </div>
</div>

@foreach (var place in Model.Results)
{
  string className = "";
  if (!place.HasPlaatsen)
  {
    className += " old";
  }
  <div class="list-item">
    <div class="hasplaatsen @className">&#160;</div>
    <div class="title"><a class="link-to-edit" href="/admin/editplaats/@place.Id.ToString()">@place.Title</a></div>
    <div class="url"><a href="@place.Url" target="_blank">@place.Url</a></div>
    <div class="lastmod">@place.LastModified.ToString("dd MMM yyy hh:mm")</div>
  </div>
}

@Html.Partial("Pagination")
