@using Meldpunt.Models;
@using Meldpunt.Utils;
@model SearchResultModel
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Beheer plaatsen</h1>

<form class="search-form" method="get">
  <input class="form-control" type="text" name="q" placeholder="Zoek plaats" value="@Request.QueryString["q"]" />
</form>

<p>@Model.Total plaatsen</p>

@Html.Partial("Pagination")

<div class="list-item list-item-header">
  <div class="title"><a href="?sort=title">Titel</a></div>
  <div class="url">Url</div>
  <div class="lastmod"><a href="?sort=date">Laatst aangepast</a></div>
</div>

@foreach (var place in Model.Results)
{
  <div class="list-item">
    <div class="title"><a class="link-to-edit" href="/admin/editplaats/@place.Id.ToString()">@place.Title</a></div>
    <div class="url"><a href="@place.Url">@place.Url</a></div>
    <div class="lastmod">@place.LastModified.ToString("dd-MM-yyyy hh:mm")</div>
  </div>
}
