@using Meldpunt.Models;
@{
  IEnumerable<ContentPageModel> pagesForTabs = ViewBag.NavItems as IEnumerable<ContentPageModel>;
  List<BreadCrumb> breadcrumbs = ViewBag.BreadCrumbs as List<BreadCrumb>;
  IEnumerable<IEnumerable<ContentPageModel>> regioPages = ViewBag.RegioPages as IEnumerable<IEnumerable<ContentPageModel>>;
  string appVersion = ViewBag.AppVersion;
  string logoText = ViewBag.HeaderTitle;
  if (String.IsNullOrEmpty(logoText))
  {
    logoText = "Meldpunt Ongedierte";
  }
}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>@ViewBag.Title</title>
  <meta http-equiv="Content-Type" lang="nl" content="text/html; charset=utf-8">
  <meta name="description" lang="nl" content="@ViewBag.Description">
  <meta name="keywords" lang="nl" content="meldpunt ongedierte, wespen, houtworm, muizen, ratten, vlooien, papiervisjes, wespen bestrijding, wespen overlast, wespennest, wespenest, plaag, wespenplaag, vlooienplaag. ">
  <meta name="verify-v1" lang="nl" content="8aAymk/nYCxbP0Y9bqA+9BQWFV1ubxWH6L4ZCHAcoYA=">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link type="text/css" rel="stylesheet" href="/css/reset.css?v=@appVersion">
  <link type="text/css" rel="stylesheet" href="/css/main.css?v=@appVersion">
  <link type="text/css" rel="stylesheet" href="/css/mobile.css?v=@appVersion">
  <link type="text/css" rel="stylesheet" href="/css/suggest.css?v=@appVersion">
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Catamaran:400,700,900" rel="stylesheet">

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  @RenderSection("style", false)

  @RenderSection("SD", false)
</head>
<body class="">

  <div class="topBar">
    <div class="heading">
      <div class="woordmerk">
        <h2><a class="logotext" href="/">@logoText</a></h2>
      </div>
      <div class="phoneButton">
        @if (ViewBag.HidePhoneNumber == null)
        {
          <a href="tel:0900-2556677" class="phoneNumber">0900-2556677</a>
        }
      </div>
      @*<img src="/afbeeldingen/wespen/wespennest%20verwijderen/wesp.jpg" class="headerImage">*@
      <img src="/images/rat.png" class="headerImage">
    </div>
    <div id="tabholder">
      <div id="tabs">
        @foreach (ContentPageModel tabItem in pagesForTabs.OrderByDescending(t => t.Sort))
        {
          string className = "tabItem";
          if (Request.Url.AbsolutePath.Contains(tabItem.UrlPart) || tabItem.UrlPart == "home" && Request.Url.AbsolutePath == "/")
          {
            className += " activeTab";
          }
          <a class="@className" href="@tabItem.Url">@tabItem.Title</a>
        }
      </div>
    </div>
  </div>


  <div id="main" class="main">

    <div id="header">
      <div class="breadcrumbs">
        <a href="/">Home</a>
        @if (breadcrumbs.Count > 0)
        {
          <span> /</span>
        }
        @for (int i = 0; i < breadcrumbs.Count; i++)
        {
          <a href="@breadcrumbs[i].Url">@breadcrumbs[i].Title</a>
          if (i < breadcrumbs.Count - 1)
          {
            <span> / </span>
          }
        }
      </div>
      <div class="zoekform-element">
        <form method="get" autocomplete="off" action="/zoek" class="zoekForm">
          <input id="zoek" placeholder="Zoeken" type="text" name="q" onkeyup="suggest.getSuggests(event,this);" /><input type="submit" class="searchSubmit" value="  " />
        </form>
        <div id="suggests" class="suggest-hidden"></div>
      </div>
    </div>

    <div class="content-and-sidebar">
      <div class="content">
        @RenderBody()

        @RenderSection("readmore", false)
      </div>
      @RenderSection("menu", false)
    </div>

    <div class="footer">
      <h2 class="footer-woordmerk">Meldpunt Ongedierte</h2>
      <div class="veiligheidsregios">
        <div>
          <h3>Regionale dienstverlening Meldpunt Ongedierte</h3>
          <div class="phone-button phone-icon"><a href="tel:0900-2556677">0900-2556677</a></div>
          <p><a href="mailto:info@meldpuntongedierte.nl">info@meldpuntongedierte.nl</a></p>
        </div>
        @foreach (IEnumerable<ContentPageModel> list in regioPages)
        {
          <ul class="regiolist">
            @foreach (ContentPageModel p in list)
            {
              <li><a href="@p.Url">@p.Title</a></li>
            }
          </ul>
        }
      </div>
    </div>
  </div>

  <div class="goto-menu-mobile">
    <div data-action="toggle-menu">
      <div class="hamburger">
        <div class="toppings"></div>
        <div class="burger"></div>
        <div class="bun"></div>
      </div>
      <span>menu</span>
    </div>
  </div>



  <script src="//code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/Scripts/meldpunt.js?v=@appVersion">;</script>
  <script type="text/javascript" src="/Scripts/suggest.js?v=@appVersion">;</script>
  <script type="text/javascript" src="/Scripts/xmlhttp.js?v=@appVersion">;</script>
  @RenderSection("script", false)

  <!--    Global site tag(gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24228769-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-24228769-1', { 'anonymize_ip': true });
  </script>

  <script>
    window.intercomSettings = { app_id: "eqp92bt1" };
  </script>
  <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") {ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () {i.c(arguments)}; i.q = []; i.c = function (args) {i.q.push(args)}; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/eqp92bt1'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) {w.attachEvent('onload', l); } else {w.addEventListener('load', l, false); } } })()</script>
</body>

</html>
