@using Meldpunt.Models;
@{
  List<PageModel> pagesForTabs = ViewBag.NavItems as List<PageModel>;
  List<PageModel> breadcrumbs = ViewBag.BreadCrumbs as List<PageModel>;
  List<List<PageModel>> regioPages = ViewBag.RegioPages as List<List<PageModel>>;
  string logoText = ViewBag.HeaderTitle;
  if (String.IsNullOrEmpty(logoText))
  {
    logoText = "Meldpunt Ongedierte";
  }
}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>@ViewBag.Title</title>
  <meta http-equiv="Content-Type" lang="nl" content="text/html; charset=utf-8">
  <meta name="description" lang="nl" content="@ViewBag.Description">
  <meta name="keywords" lang="nl" content="meldpunt ongedierte, wespen, houtworm, muizen, ratten, vlooien, papiervisjes, wespen bestrijding, wespen overlast, wespennest, wespenest, plaag, wespenplaag, vlooienplaag. ">
  <meta name="verify-v1" lang="nl" content="8aAymk/nYCxbP0Y9bqA+9BQWFV1ubxWH6L4ZCHAcoYA=">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <link type="text/css" rel="stylesheet" href="/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/css/main.css?v=2">
  <link type="text/css" rel="stylesheet" href="/css/suggest.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Catamaran:400,700,900" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="/Scripts/meldpunt.js">    ;</script>
  <script type="text/javascript" src="/Scripts/suggest.js">    ;</script>
  <script type="text/javascript" src="/Scripts/xmlhttp.js">    ;</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24228769-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

  <div class="topBar">
    <div class="heading">
      <div class="woordmerk">
        <h2><a class="logotext" href="/">@logoText</a></h2>
      </div>
      <div class="phoneButton">
        @if (ViewBag.HidePhoneNumber == null)
        {
          <a href="tel:0900-2556677" class="phoneNumber">0900-2556677</a>
        }
      </div>
      <img src="/Images/rat.png" class="headerImage">
    </div>
    <div id="tabholder">
      <div id="tabs">
        @foreach (PageModel tabItem in pagesForTabs)
        {
          string className = "tabItem";
          if (Request.Url.AbsolutePath.Contains(tabItem.Id) || tabItem.Id == "home" && Request.Url.AbsolutePath == "/")
          {
            className += " activeTab";
          }
          <a class="@className" href="@tabItem.Url">@tabItem.Title</a>
        }
      </div>
    </div>
  </div>


  <div id="main" class="main">

    <div id="header">
      <div class="breadcrumbs">
        <a href="/">Home</a>
        @if (breadcrumbs.Count > 0)
        {
          <span> /</span>
        }
        @for (int i = 0; i < breadcrumbs.Count; i++)
        {
          <a href="@breadcrumbs[i].Url">@breadcrumbs[i].Title</a>
          if (i < breadcrumbs.Count - 1)
          {
            <span> / </span>
          }
        }
      </div>
      <div class="zoekform-element">
        <form method="get" autocomplete="off" action="/zoek" class="zoekForm">
          <input id="zoek" placeholder="@ViewBag.SearchPlaceholder" type="text" name="q" onkeyup="suggest.getSuggests(event,this);" /><input type="submit" class="searchSubmit" value="  " /></form>
          <div id="suggests"class="suggest-hidden"></div>
      </div>
    </div>

    <div class="content-and-sidebar">
      <div class="content">
        @RenderBody()
      </div>
      @RenderSection("menu", false)
    </div>

    <div class="footer">
      <h2 class="footer-woordmerk">Meldpunt Ongedierte</h2>
      <div class="veiligheidsregios">
        <div>
          <h3>Regionale dienstverlening Meldpunt Ongedierte</h3>
          <div class="phone-button phone-icon"><a href="tel:0900-2556677">0900-2556677</a></div>
          <p><a href="mailto:info@meldpuntongedierte.nl">info@meldpuntongedierte.nl</a></p>
        </div>
        @foreach (List<PageModel> list in regioPages)
        {
          <ul class="regiolist">
            @foreach (PageModel p in list)
            {
              <li><a href="@p.Url">@p.Title</a></li>
            }
          </ul>
        }
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-2150493-3");
      pageTracker._trackPageview();
    } catch (err) { }
  </script>
</body>

</html>
