@using Meldpunt.Models;
@model BlogModel
@{
  ViewBag.Title = Model.MetaTitle + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  ViewBag.BreadCrumbs = new List<BreadCrumb>() {
    new BreadCrumb { Title = "Blog", Url = "/blog" },
    new BreadCrumb { Title = Model.Title, Url = "/blog/" + Model.UrlPart }
    };
  List<ContentPageModel> homeMenu = ViewBag.HomeMenuItems as List<ContentPageModel>;
}

@section style{
  <link type="text/css" rel="stylesheet" href="/css/blog.css?v=@ViewBag.AppVersion">
}

@section SD{
  <script type="application/ld+json">
  {
    "@("@context")": "http://schema.org/",
    "@("@type"): "Article",
    "dateModified" : "@Model.LastModified.Value.ToString("yyyy-MM-dd")",
    "datePublished" : "@Model.Published.Value.ToString("yyyy-MM-dd")",
    "headline": "@Model.Intro",
    @if (!String.IsNullOrEmpty(Model.Image)) { 
        <text>"image" : "https://www.meldpuntongedierte.nl@(Model.Image)@Html.Raw("&width=700")",</text>
      }
  }
  </script>
}

<article class="blog-article">
  <h1>@Model.Title</h1>
  <date>@Model.Published.Value.ToString("D")</date>
  @Html.Raw(Model.Content)
</article>
