@using Meldpunt.Models;
@model ContentPageModel
@{
  ViewBag.Title = Model.MetaTitle + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  IEnumerable<ContentPageModel> subNav = ViewBag.SubNav as IEnumerable<ContentPageModel>;
  IEnumerable<ContentPageModel> homeMenu = ViewBag.HomeMenuItems as IEnumerable<ContentPageModel>;
}

@section SD{
  <script type="application/ld+json">
    {
    "@("@context")": "http://schema.org/",
    "@("@type"): "Article",
    "dateModified" : "@Model.LastModified.Value.ToString("yyyy-MM-dd")",
    "datePublished" : "@Model.Published.Value.ToString("yyyy-MM-dd")",
    "headline": "@Model.MetaDescription",
    @if (!String.IsNullOrEmpty(Model.Image))
    {
      <text>"image" : "https://www.meldpuntongedierte.nl@(Model.Image)@Html.Raw("&width=700")",</text>
    }
    }
  </script>
}
<article>
  @Html.Raw(Model.Content)
</article>



@section menu{
  @if (!String.IsNullOrWhiteSpace(Model.SideContent))
  {
    <aside class="menu">
      @Html.Raw(Model.SideContent)
    </aside>
  }
  else if (subNav != null && subNav.Any() && Model.UrlPart != "home")
  {
    <nav class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        <li class="showOnMobile"><a href="/">Home</a></li>
        @foreach (ContentPageModel item in subNav.OrderByDescending(p => p.Sort))
        {

          string selected = "";
          if (item.Id == Model.Id)
          {
            selected = "selected";
          }

          <li class="@selected">
            <a href="@item.Url">@item.Title</a>
          </li>
        }
      </ul>
      <button class="goto-menu-mobile">menu</button>


    </nav>
  }
  else
  {
    <nav class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        @foreach (var page in homeMenu.OrderByDescending(p => p.Sort))
        {
          <li><a href="@page.Url">@page.Title</a></li>
        }
        <li><a href="/blog">Blog</a></li>

      </ul>
      <button class="goto-menu-mobile">menu</button>

    </nav>
  }
}

@section readmore{
  @if (subNav != null)
  {
    <h2>Lees verder</h2>

    <div class="readmore">
      @foreach (var page in subNav)
      {
        @Html.Partial("_Page_Tile",page)
      }
    </div>
  }

}