@using Meldpunt.Models;
@using Meldpunt.Utils;
@model PageModel
@{
  ViewBag.Title = Model.Title;
  ViewBag.Description = Model.FullText.TruncateAtWord(200);
  ViewBag.Url = Model.Url;
  List<PageModel> subNav = ViewBag.SubNav as List<PageModel>;  
}


@Html.Raw(Model.Content)

@section menu{
  @if (subNav != null && subNav.Any())
  {    
    <div class="menu">
      <ul>
        @foreach (PageModel item in subNav)
        {

          string selected = "";
          if (item.Id == Model.Id)
          {
            selected = "selected";
          }
          
          <li class="@selected">
            <a href="@item.Url">@item.Title</a>
            @if (item.Id == Model.Id && item.SubPages.Any())
            {
              <ul class="subNav">
                @foreach (PageModel subItem in item.SubPages)
                {
                  <li><a href="@subItem.Url">@subItem.Title</a></li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>   
  }
  else
  {
    <div class="menu">
      <ul>        
        <li><a href="/ongedierte-in-huis/muizen/muizen-in-huis">Muizen in huis</a></li>
        <li><a href="/ongedierte-in-huis/ratten">Rattenbestrijding</a></li>
        <li><a href="/ongedierte-in-huis/mieren/mieren-in-huis">Mieren in huis</a></li>
        <li><a href="/ongedierte-in-huis/wespen/wespennest-verwijderen">Wespennest verwijderen</a></li>
        <li><a href="/stankoverlast">Stankoverlast</a></li>
        <li><a href="/volksgezondheid">Ongedierte en volksgezondheid</a></li>
        <li><a href="/wettelijke-kaders-en-verantwoordelijkheden">Wettelijke kaders en verantwoordelijkheden</a></li>
        <li><a href="/openbare-ruimte">Openbare ruimte</a></li>
        
      </ul>
    </div>
  }
} 