@model ContentPageModel
@{
  ViewBag.Title = Model.MetaTitle + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  IEnumerable<ContentPageModel> subNav = ViewBag.SubNav as IEnumerable<ContentPageModel>;
  IEnumerable<ContentPageModel> homeMenu = ViewBag.HomeMenuItems as IEnumerable<ContentPageModel>;
}

@section SD{
  <script type="application/ld+json">
    {
    "@("@context")": "http://schema.org/",
    "@("@type")": "Article",
    @if (Model.LastModified.HasValue)
    {
      <text>"dateModified" : "@Model.LastModified.Value.ToString("yyyy-MM-dd")",</text>
    }
    @if (Model.Published.HasValue)
    {
      <text>"datePublished" : "@Model.Published.Value.ToString("yyyy-MM-dd")",</text>
    }
    "headline": "@Model.MetaDescription",
    "author" : "Meldpunt Ongedierte",
    "publisher" : "Meldpunt Ongedierte",

    }
  </script>
}
<article>
  @Html.Raw(Model.Content)
</article>



@section menu{
  @if (!String.IsNullOrWhiteSpace(Model.SideContent))
  {
    <aside class="menu">
      @Html.Raw(Model.SideContent)
    </aside>
  }
  else if (subNav != null && subNav.Any() && Model.UrlPart != "home")
  {
    @Html.Partial("_NavMenu", new NavMenu
    {
      Items = subNav.Select(i => { return new NavItem { Id = i.Id, Title = i.Title, Url = i.Url, Sort = i.Sort }; }),
      CurrentPageId = Model.Id
    });
  }
  else
  {
    var navItems = homeMenu.Select(i => { return new NavItem { Id = i.Id, Title = i.Title, Url = i.Url, Sort = i.Sort }; }).ToList();
    navItems.Add(new NavItem { Title = "Blog", Url = "/blog" });

    @Html.Partial("_NavMenu", new NavMenu
    {
      Items = navItems,
      CurrentPageId = Model.Id
    });
  }
}

@section readmore{
  @if (subNav != null)
  {
    <h2>Lees verder</h2>

    <div class="readmore">
      @foreach (var page in subNav)
      {
        @Html.Partial("_Page_Tile", page)
      }
    </div>
  }

}
