@using Meldpunt.Models;
@model PageModel
@{
  ViewBag.Title = Model.Title + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  List<PageModel> subNav = ViewBag.SubNav as List<PageModel>;
  List<PageModel> homeMenu = ViewBag.HomeMenuItems as List<PageModel>;
  ViewBag.SearchPlaceholder = "Zoek op plaatsnaam..";
}


@Html.Raw(Model.Content)

@section menu{
  @if (subNav != null && subNav.Any())
  {
    <div class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        @foreach (PageModel item in subNav.OrderByDescending(p => p.Sort))
        {

          string selected = "";
          if (item.Id == Model.Id)
          {
            selected = "selected";
          }

          <li class="@selected">
            <a href="@item.Url">@item.Title</a>
            @if (item.Id == Model.Id && item.SubPages.Any())
            {
              <ul class="subNav">
                @foreach (PageModel subItem in item.SubPages.OrderByDescending(p => p.Sort))
                {
                  <li><a href="@subItem.Url">@subItem.Title</a></li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  }
  else
  {
    <div class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        @foreach (var page in homeMenu.OrderByDescending(p => p.Sort))
        {
          <li><a href="@page.Url">@page.Title</a></li>
        }

      </ul>
    </div>
  }
}
