@using Meldpunt.Models;
@model PageModel
@{
  ViewBag.Title = Model.Title + " - Meldpunt Ongedierte";
  ViewBag.Description = Model.MetaDescription;
  ViewBag.Url = Model.Url;
  List<PageModel> subNav = ViewBag.SubNav as List<PageModel>;
}


@Html.Raw(Model.Content)

@section menu{
  @if (subNav != null && subNav.Any())
  {
    <div class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        @foreach (PageModel item in subNav.OrderByDescending(p=> p.Sort))
        {

          string selected = "";
          if (item.Id == Model.Id)
          {
            selected = "selected";
          }

          <li class="@selected">
            <a href="@item.Url">@item.Title</a>
            @if (item.Id == Model.Id && item.SubPages.Any())
            {
              <ul class="subNav">
                @foreach (PageModel subItem in item.SubPages.OrderByDescending(p=> p.Sort))
                {
                  <li><a href="@subItem.Url">@subItem.Title</a></li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  }
  else
  {
    <div class="menu">
      <h2>Bekijk ook</h2>
      <ul>
        <li><a href="/plaagdierengids/muizen/muizen-in-huis">Muizen in huis</a></li>
        <li><a href="/plaagdierengids/ratten/rattenbestrijding">Rattenbestrijding</a></li>
        <li><a href="/insectengids/mieren/mierenplaag-in-huis">Mieren in huis</a></li>
        <li><a href="/insectengids/wespen/wespennest-verwijderen">Wespennest verwijderen</a></li>
        <li><a href="/stankoverlast">Stankoverlast</a></li>
        <li><a href="/volksgezondheid">Ongedierte en volksgezondheid</a></li>
        <li><a href="/wettelijke-kaders-en-verantwoordelijkheden">Wettelijke kaders en verantwoordelijkheden</a></li>
        <li><a href="/openbare-ruimte">Openbare ruimte</a></li>
        <li><a href="/veel-gestelde-vragen">Veel gestelde vragen</a></li>

      </ul>
    </div>
  }
}
