@using Meldpunt.Utils;
@using Meldpunt.Models;
@model Meldpunt.Models.PlaatsModel
@{
  // Default values
  ViewBag.HeaderTitle = "Meldpunt Ongedierte";
  ViewBag.Title = "Ongediertebestrijding " + Model.Gemeentenaam + " - Meldpunt Ongedierte";
  ViewBag.Description = String.Format("Als u inwoner bent van de gemeente {0} kunt u ons bellen voor bijvoorbeeld een muizenbestrijding of een mierenbestrijding aan huis. Een wespennest verwijderen kan pas geschieden nadat wij de wespenbestrijding hebben uitgevoerd.", Model.Gemeentenaam);

  // Curated items
  if (!String.IsNullOrEmpty(Model.Title))
  {
    ViewBag.Title = Model.Title;
  }

  if (!String.IsNullOrWhiteSpace(Model.MetaDescription))
  {
    ViewBag.Description = Model.MetaDescription;
  }
  ViewBag.Url = Model.Gemeentenaam;


  List<ContentPageModel> homeMenu = ViewBag.HomeMenuItems as List<ContentPageModel>;
}

@section menu{
<div class="menu">
  <h2>Bekijk ook</h2>
  <ul>
    <li class="showOnMobile"><a href="/">Home</a></li>
    @foreach (var page in homeMenu.OrderByDescending(p => p.Sort))
    {
      <li><a href="@page.Url">@page.Title</a></li>
    }
  </ul>
  <button class="goto-menu-mobile">menu</button>
</div>
}


@if (!String.IsNullOrWhiteSpace(Model.Content) && Model.Published)
{
  <h1 class="plaatsheader"><span class="pre-header">Meldpunt Ongediertebestrijding</span> @Model.Gemeentenaam</h1>
  <div class="phone-button phone-icon"><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></div>
  @*<div class="phone-button"><a href="#">Doe alleen een melding</a></div>*@
  @*<a class="phone-button whatsapp-icon" href="https://api.whatsapp.com/send?phone=+31611690664&text=">Contact via whatsapp</a>*@

  <div class="aankleuren">
    <div class="folder-image">
      <a href="/plaagdierengids/muizen">
        <figure title="muizen" style="background-image:url(/Images/aankleuren/Muizen.jpg)">
          <img alt="muizen bestrijden" src="/Images/aankleuren/Muizen.jpg" />
          <figcaption>Muizen</figcaption>
        </figure>
      </a>
    </div>
    <div class="folder-image">
      <a href="/plaagdierengids/ratten ">
        <figure title="ratten" style="background-image:url(/Images/aankleuren/Ratten.jpg)">
          <img alt="ratten bestrijden" src="/Images/aankleuren/Ratten.jpg" />
          <figcaption>Ratten</figcaption>
        </figure>
      </a>
    </div>
    <div class="folder-image">
      <a href="/insectengids/wespen">
        <figure title="wespen" style="background-image:url(/Images/aankleuren/Wespen.jpg)">
          <img alt="wespen bestrijden" src="/Images/aankleuren/Wespen.jpg" />
          <figcaption>Wespen</figcaption>
        </figure>
      </a>
    </div>
    <div class="folder-image">
      <a href="/insectengids/mieren">
        <figure title="mieren" style="background-image:url(/Images/aankleuren/Mieren.jpg)">
          <img alt="mieren bestrijden" src="/Images/aankleuren/Mieren.jpg" />
          <figcaption>Mieren</figcaption>
        </figure>
      </a>
    </div>
    <div class="folder-image">
      <a href="/insectengids">
        <figure title="insectengids" style="background-image:url(/Images/aankleuren/Overige.jpg)">
          <img alt="insecten bestrijden" src="/Images/aankleuren/Overige.jpg" />
          <figcaption>Overige</figcaption>
        </figure>
      </a>
    </div>
  </div>

  <div class="created-content">
    @Html.Raw(Model.Content)
  </div>

}
else
{
  <h1 class="plaatsheader"><span class="pre-header">Meldpunt Ongediertebestrijding</span> @Model.Gemeentenaam</h1>
  <div class="phone"><a href="tel:+31900-2800200">0900-2800200</a></div>

  <hr />

  <h2>Algemene informatie</h2>
  <p>
    Service & Contact : <a href="tel:+31900-2800200">0900-2800200</a> <br />
    Email : <a href="mailto:info@meldpuntongedierte.nl">info@meldpuntongedierte.nl</a>
  </p>

  <h2>Signaleert u <span>ratten</span> in de openbare ruimte?</h2>
  <p>Indien u ratten constateert in de openbare ruimte, klik dan <a href="/plaagdierengids/ratten/ratten-openbare-ruimte">hier</a></p>
 
  <h2>Voor bestrijding van andere veel voorkomende soorten ongedierte:</h2>
  <ul>
    <li><a href="/plaagdierengids/muizen/muizen-in-huis">Muizen in huis bestrijden</a></li>
    <li><a href="/insectengids/wespen/wespennest-verwijderen">Wespennest verwijderen</a></li>
    <li><a href="/insectengids/mieren/mierenplaag-in-huis">Mieren in huis bestrijden</a></li>
    <li><a href="/plaagdierengids/ratten/rattenbestrijding">Ratten bestrijden</a></li>
  </ul>

  <h2>Betreft het een bedrijf of instelling in @Model.Gemeentenaam?</h2>
  <p>Bedrijven en instellingen in @Model.Gemeentenaam worden door ons alleen geholpen bij de bestrijding van knaagdieren en schadelijke insecten welke incidenteel van aard zijn. Voor structurele preventie kan onze bestrijdingsdeskundige u ter plekke adviseren.</p>

  <h2>Ongediertebestrijding @Model.Gemeentenaam</h2>
  <p>Voor meer informatie rondom bijvoorbeeld <a href="../../plaagdierengids/muizen/muizenbestrijding">muizenbestrijding</a>, <a href="/insectengids/mieren/mierenbestrijding">mierenbestrijding</a>, of andere <a href="/ongediertebestrijding">ongediertebestrijding</a>&nbsp;in @Model.Gemeentenaam kunt u ook onze uitgebreide <a href="../../plaagdierengids">plaagdierengids</a> en <a href="../../insectengids">insectengids</a> raadplegen.</p>
  <p>Veel plaagdieren en insecten kunnen met de juiste kennis goed zelf bestreden worden. Indien u twijfels heeft, laat de bestrijding dan aan ons over. Verkeerde maatregelen kunnen problemen met ongedierte verspreiden of verergeren.</p>

  <h2>Muizen bestrijden in huis of binnen een gebouw</h2>
  <p>Muizen zijn altijd op zoek naar een voor hen geschikte leefomgeving. De ideale leefomgeving voor deze dieren is een omgeving waarin ze bescherming en voedsel vinden. Bij problemen rondom muizen gaan onze bestrijdingsmiddelen altijd gepaard met aanvullende maatregelen rondom de hygi&euml;ne en de weerbaarheid van het gebouw. Sommige maatregelen treffen wij, maar voor een succesvol resultaat is uw eigen bijdrage in veel gevallen van groot belang.</p>
  <p><a href="../../plaagdierengids/muizen/muizenbestrijding">Lees verder &gt;</a></p>

  <h2>Wespennest verwijderen</h2>
  <p>Wespenkoninginnen kiezen vaak een holle ruimte in een gebouw uit om het nest te bouwen. Veelal gebeurt dit in spouwmuur, dakkapellen, schuurtjes, of in de grond. Voordat een wespennest verwijderd kan worden moeten wij de wespen eerst bestrijden. Een wespennest is echter alleen schadelijk zolang het actief is. Daarom komt het maar een enkele keer voor dat het wespennest na de bestrijding verwijderd wordt.&nbsp;</p>
  <p><a href="/insectengids/wespen/wespennest-verwijderen">Lees verder &gt;</a></p>

  <h2>Mieren in huis bestrijden</h2>
  <p>Mieren in huis bestrijden wij met een professioneel middel op basis van gel welke door middel van een doseernaald wordt ingebracht in naden en kieren. Hiermee kunnen mierennesten soms structureel bestreden worden. Mieren in huis kunnen echter veelal op ontoegankelijke plekken zitten. Met name wanneer het probleem jaarlijks terugkeert kan dit het geval zijn.</p>

  <p><a href="/insectengids/mieren/mierenplaag-in-huis">Lees verder &gt;</a></p>

  <h2>Ratten bestrijden</h2>
  <p>De bestrijding van ratten vergt een strategische aanpak en geduld. Voor incidentele bestrijding plaatsen wij vangmateriaal met professionele lokmiddelen. Voor structurele bestrijding en preventie gebruiken wij een nieuwe techniek.</p>
  <p><a href="/plaagdierengids/ratten/rattenbestrijding">Lees verder &gt;</a></p>

  <h2>Overige plaagdieren en insecten welke veel in @Model.Gemeentenaam voorkomen zijn:</h2>
  <ul>
    <li><a href="/insectengids/kakkerlakken/kakkerlakken-bestrijden">Kakkerlakken</a></li>
    <li><a href="/insectengids/zilvervisjes-en-papiervisjes">Zilvervisjes</a></li>
    <li><a href="/insectengids/parasiterende-insecten/vlooien">Vlooien</a></li>
    <li><a href="/insectengids/parasiterende-insecten/bedwantsen">Bedwantsen</a></li>
    <li><a href="/plaagdierengids/spitsmuizen">Spitsmuizen</a></li>
  </ul>

  <h2>Openbare ruimte</h2>
  <p>Voor overlast in of vanuit de openbare ruimte kunt u het beste contact opnemen met de gemeente.</p>
  <p>Ook kunt u een melding bij ons doen via <a href="mailto:info@meldpuntongedierte.nl">info@meldpuntongedierte.nl</a></p>
  <p>Wij registreren deze meldingen in ons datasysteem om toenamen en afnamen van bepaalde diersoorten te kunnen meten. &nbsp;</p>

  <h2>Toch een bestrijdingsdeskundige nodig ?</h2>
  <p>Als u toch een bestrijdingsdeskundige wilt spreken, bel dan met :<a href="tel:+31900-2800200">0900-2800200</a></p>
}
