@model IEnumerable<RedirectModel>
@{
  ViewBag.Title = "Admin";
  var locations = ViewBag.Locations;
  Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Beheer redirects</h1>

@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-warning">
    @Html.ValidationSummary()
  </div>
}

<div class="list-item list-item-header">
  <div class="from">Van</div>
  <div class="to">Naar</div>
  <div class="action">Actie</div>
</div>

<div class="list-item">
  <form method="post">
    <div class="from"><input type="text" name="from" class="form-control" placeholder="van.." /></div>
    <div class="to"><input type="text" name="to" class="form-control" placeholder="naar.." /></div>
    <div class="action">
      <input type="submit" class="btn btn-info" value="opslaan" />
    </div>
  </form>
</div>

@foreach (RedirectModel r in Model.OrderBy(r=> r.From))
{
  <div class="list-item" id="@r.Id">
    <form method="post">
      <div class="from"><input type="text" name="from" class="form-control" value="@r.From" /></div>
      <div class="to"><input type="text" name="to" class="form-control" value="@r.To" /></div>
      <div class="action">
        <input type="hidden" name="id" value="@r.Id" />
        <input type="submit" class="btn btn-info" value="opslaan" />
        <a class="btn btn-danger" data-action-confirm href="/admin/removeRedirect?id=@r.Id">Verwijderen</a>
      </div>
    </form>
  </div>
}

@if (!ViewData.ModelState.IsValid)
{
  <div class="alert alert-warning">
    @Html.ValidationSummary()
  </div>
}


<a class="btn btn-info new-button" href="/admin/newredirect" data-action="js-new-redirect">Nieuwe redirect</a>
